.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    height: 416px;
    width: 416px;
    border: solid 2px black;
}

.div-grid {
    height: 10px;
    width: 10px;
    padding: 8px;
    margin-bottom: 0px;
}

.grid-color {
    background-color: green;
}
